@page "/Details/{id:int}"
@using Pw_Frontend.Application.Services
@using Pw_Frontend.Dtos.ManagerDto
@inject IHttpService HttpService

<div class="container card shadow rounded p-3 col-md-4">
    <h3>Details</h3>
    <div class="form-floating">
        <input type="text" class="form-control" @bind="GetAllByUserIdDto.WebsiteName" disabled/>
        <label>Website:</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" @bind="GetAllByUserIdDto.Email" disabled/>
        <label>Email:</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" @bind="GetAllByUserIdDto.Password" disabled/>
        <label>Password:</label>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    
    public GetAllByUserIdDto GetAllByUserIdDto { get; set; } = new GetAllByUserIdDto();

    protected override async Task OnInitializedAsync()
    {
        var getAllByUserIdDto = (await HttpService.Get<List<GetAllByUserIdDto>>($"api/Manager/GetPasswordById/{id}"))?
            .FirstOrDefault();
        if (getAllByUserIdDto is null)
        {
            return;
        }
        GetAllByUserIdDto = getAllByUserIdDto;
        await base.OnInitializedAsync();
    }

}