@page "/Details/{id:int}"
@using Pw_Frontend.Application.Services
@using Pw_Frontend.Dtos.ManagerDto
@using PW_Frontend.Service
@inject IHttpService HttpService
@inject NavigationManager NavigationManager
@inject CryptoInteropService CryptoInteropService
@inject IAuthenticationService AuthenticationService

<div class="container card shadow rounded p-3 col-md-4">
    <h3>Details</h3>
    <div class="form-floating">
        <input type="text" class="form-control" @bind="GetAllByUserIdDto.WebsiteName" disabled/>
        <label>Website:</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" @bind="GetAllByUserIdDto.Email" disabled/>
        <label>Email:</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" @bind="GetAllByUserIdDto.Password" disabled/>
        <label>Password:</label>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private GetAllByUserIdDto GetAllByUserIdDto { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        var userId = AuthenticationService.TokenDto?.UserId;
        byte[]? stretchedKey = AuthenticationService.StretchedKey;
        if (userId is null || stretchedKey is null)
        {
            NavigationManager.NavigateTo("/Login");
        }
        var getAllByUserIdDto = (await HttpService.Get<List<GetAllByUserIdDto>>($"api/Manager/GetPasswordById/{Id}"))?
            .FirstOrDefault();
        if (getAllByUserIdDto is null)
        {
            return;
        }
        getAllByUserIdDto.Password = await CryptoInteropService.DecryptData(getAllByUserIdDto.Password, stretchedKey);
        GetAllByUserIdDto = getAllByUserIdDto;
        await base.OnInitializedAsync();
    }

}