@page "/Login"
@using Pw_Frontend.Dtos.AuthDto
@using Pw_Frontend.Application.Services

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@layout BlankLayout

<div class="container card shadow rounded p-3 col-md-4">
    <h3>Login</h3>
    <EditForm Model="loginDto">
        <div class="form-floating">
            <input type="email" class="form-control" @bind="loginDto.Email"/>
            <label>Email:</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" @bind="loginDto.Password"/>
            <label>Password:</label>
        </div>
        <div class="btn-group w-100 mt-3">
            <button class="btn btn-primary" type="submit" @onclick="LoginAsync">Login</button>
            <button class="btn btn-secondary" type="submit" @onclick="RegisterAsync">Register</button>
        </div>
    </EditForm>
</div>

@code {
    LoginDto loginDto = new LoginDto();
    
    private async Task LoginAsync()
    {
        await AuthenticationService.Login(loginDto);
        ToastService.ShowSuccess("Login successful");
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/", replace: true);
    }
    
    private async Task RegisterAsync()
    {
        await AuthenticationService.Register(loginDto);
        ToastService.ShowSuccess("Registration successful");
        NavigationManager.NavigateTo("/", replace: true);
    }
}