@page "/Update/{id:int}"
@using Pw_Frontend.Application.Services
@using Pw_Frontend.Dtos.ManagerDto
@using Pw_Frontend.Application.Dtos
@using PW_Frontend.Service
@inject IHttpService HttpService
@inject NavigationManager NavigationManager
@inject CryptoInteropService CryptoInteropService
@inject IAuthenticationService AuthenticationService

<div class="container card shadow rounded p-3 col-md-4">
    <h3>Update</h3>
    <EditForm Model="UpdatePasswordDto">
        <div class="form-floating">
            <input type="text" class="form-control" @bind="UpdatePasswordDto.WebsiteName"/>
            <label>Website:</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" @bind="UpdatePasswordDto.Email"/>
            <label>Email:</label>
        </div>
        <button class="btn btn-secondary w-100" @onclick="() => GenerateStrongPassword()">Generate strong password</button>
        <div class="form-floating">
            <input type="text" class="form-control" @bind="UpdatePasswordDto.Password"/>
            <label>Password:</label>
        </div>
        <div class="btn-group w-100 mt-3">
            <button class="btn btn-primary" type="submit" @onclick="Save">Save password</button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    
    public UpdatePasswordDto UpdatePasswordDto { get; set; } = new UpdatePasswordDto();

    protected async override Task OnInitializedAsync()
    {
        int? userId = AuthenticationService.TokenDto?.UserId;
        byte[]? stretchedKey = AuthenticationService.MasterKey;
        if (userId is null || stretchedKey is null)
        {
            NavigationManager.NavigateTo("/Login");
        }
        
        var getAllByUserIdDto = (await HttpService.Get<List<GetAllByUserIdDto>>($"api/Manager/GetPasswordById/{Id}"))?
            .FirstOrDefault();
        if (getAllByUserIdDto is null)
        {
            return;
        }
        UpdatePasswordDto.Id = getAllByUserIdDto.Id;
        UpdatePasswordDto.Password = await CryptoInteropService.DecryptData(getAllByUserIdDto.Password, stretchedKey);
        UpdatePasswordDto.Email = getAllByUserIdDto.Email;
        UpdatePasswordDto.WebsiteName = getAllByUserIdDto.WebsiteName;
        await base.OnInitializedAsync();
    }
    
    private async Task Save() {
        byte[]? stretchedKey = AuthenticationService.MasterKey;
        var updatedPassDto = UpdatePasswordDto;
        updatedPassDto.Password = await CryptoInteropService.DecryptData(updatedPassDto.Password, stretchedKey);
        await HttpService.Put("api/Manager/UpdatePassword", updatedPassDto);
        NavigationManager.NavigateTo("/");
    }
    
    private async Task GenerateStrongPassword(int length = 16)
    {
        PasswordDto? password = await HttpService.Get<PasswordDto>($"api/Manager/GenerateRandomPassword/{length}");
        if (password == null)
        {
            return;
        }
        UpdatePasswordDto.Password = password.Password;
    }
}